<!-- Welcome page with centered text -->
 <div class = "flex flex-column justify-content-center align-items-center h-full pb-8" > 
   <h1 class = "text-4xl font-bold text-center" > Welcome! </h1>
   <h2 class = "text-2xl font-semibold text-center text-gray-600" > This is a simple e-commerce application built with Angular and ASP.NET </h2>
   <h2 class = "text-2xl font-semibold text-center text-gray-600" > This page is a temporary placeholder for the home page. Select one of the categories from the Catalogue menu to get started. </h2>
   <h3 class = "text-xl font-semibold text-center text-gray-600" >  </h3>
</div>