<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <p-button 
            severity="success" 
            label="New" 
            icon="pi pi-plus" 
            class="mr-2"  
            (click)="toggleFormDialog()"
            />
    </ng-template>
</p-toolbar>
<p-table
    [tableStyle]="{'width': '80rem', 'min-height': '20rem'}"
    [scrollable]="true" 
    scrollHeight="45rem" 
    [value]="tags"
    [loading]="loading"
    [lazy]="true"
    [paginator]="true"
    [rows]="5"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"    
    [paginatorPosition]="'bottom'"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [sortOrder]="1"
    (onLazyLoad)="loadData($event)">
    <ng-template pTemplate="header">
        <tr>
            <th class="w-4rem"><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
            <th pSortableColumn="Id">Id<p-sortIcon field="Id"></p-sortIcon></th>
            <th pSortableColumn="Name">Name<p-sortIcon field="Name"></p-sortIcon></th>
            <th pSortableColumn="SubcategoryName">Subcategory<p-sortIcon field="SubcategoryName"></p-sortIcon></th>
            <th>Actions</th>
        </tr>
        <tr>
            <th></th>
            <th>
                <p-columnFilter type="text" field="Id" placeholder="Search by ID"></p-columnFilter>
            </th>
            <th>
                <p-columnFilter type="text" field="Name" placeholder="Search by Name"></p-columnFilter>
            </th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tag>
        <tr>
            <td><p-tableCheckbox [value]="tag"></p-tableCheckbox></td>
            <td>{{tag.id}}</td>
            <td>{{tag.name}}</td>
            <td>{{tag.subcategoryName}}</td>
            <td>
                <p-button 
                icon="pi pi-pencil" 
                class="mr-2" 
                [rounded]="true" 
                [outlined]="true" 
                severity="success" 
                (click)="editTag(tag)"
                ></p-button>
                <p-button 
                icon="pi pi-trash" 
                severity="danger" 
                [rounded]="true" 
                [outlined]="true"
                (click)="deleteTag(tag)"
                ></p-button>
            </td>
        </tr>
    </ng-template>        
</p-table>

<p-dialog header="Add Tag" [(visible)]="tagFormVisible" class="w-25rem" [modal]="true" [responsive]="true">
    <form (ngSubmit)="addTag()">
        <div class="flex flex-column">
            <label for="name" class="font-semibold w-6rem my-1">Name</label>
            <input id="name" name="tag" type="text" pInputText class="flex-auto" [(ngModel)]="tagNameField" required autofocus/>
            <label for="subcategory" class="font-semibold w-6rem mt-5 my-1">Subcategory</label>
            <p-dropdown id="subcategory" name="subcategory" placeholder="Select subcategory" 
            [options]="subcategories" 
            [(ngModel)]="subcategoryDropdownSelect" 
            optionLabel="name" 
            styleClass="w-full" 
            required
            [filter]="true"
            filterBy="name"
            [virtualScroll]="true"
            [virtualScrollItemSize]="38" 
            appendTo="body"
            ></p-dropdown>
        </div>
        <p-footer class="flex justify-content-end mt-3 gap-2">
            <button type="button" pButton label="Cancel" icon="pi pi-times" severity="secondary" (click)="toggleFormDialog()"></button>
            <button type="submit" pButton label="Save" icon="pi pi-check"></button>
        </p-footer>
    </form>
</p-dialog>