<p-table 
    [tableStyle]="{'width': '80rem', 'min-height': '20rem'}"
    [scrollable]="true" 
    scrollHeight="45rem" 
    [value]="users"
    [loading]="loading"
    [lazy]="true"
    [paginator]="true"
    [rows]="5"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[5, 10, 20]"    
    [paginatorPosition]="'bottom'"
    [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [sortOrder]="1"
    (onLazyLoad)="loadData($event)">
    
    <ng-template pTemplate="header">
      <tr>
        <th>ID</th>
        <th pSortableColumn="Email">Email<p-sortIcon field="Email"></p-sortIcon></th>
        <th pSortableColumn="Roles">Role<p-sortIcon field="Roles"></p-sortIcon></th>
        <th>Actions</th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="Id" placeholder="Search by ID"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="Email" placeholder="Search by email"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter 
          [matchModeOptions]='[{label: "In", value: "in"}, {label: "Not In", value: "notIn"}]'
          field="Roles">
            <ng-template pTemplate="filter">
              <p-multiSelect 
              [options]="globalRolesArray"
              placeholder="All" 
              [showHeader]="false" 
              [(ngModel)]="rolesToFilter"
              (onChange)="applyMultiselectFilter($event)"></p-multiSelect>
            </ng-template>            
          </p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{user.id}}</td>
        <td>{{user.email}}</td>
        <td>
          <p *ngFor="let role of user.roles">{{role}} </p>
        </td>
        <td>
          <p-button 
          icon="pi pi-pencil" 
          class="mr-2" 
          [rounded]="true" 
          [outlined]="true" 
          severity="success" 
          (click)="editUser(user)"
          ></p-button>
          <p-button 
          icon="pi pi-trash" 
          severity="danger" 
          [rounded]="true" 
          [outlined]="true"
          (click)="deleteUser(user)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog header="Edit User" [modal]="true" [(visible)]="editModalVisible" [style]="{ width: '25rem' }">
    <h4>Roles</h4>
    <div>
      <div *ngFor="let enumRole of globalRolesArray" class="field-checkbox">
        <p-checkbox name="{{enumRole}}" binary="true" label="{{enumRole}}" [(ngModel)]="selectedRoles[enumRole]"></p-checkbox>
      </div>
    </div>
    <div class="flex justify-content-end gap-2 mt-2">
      <p-button label="Cancel" severity="secondary" (click)="closeModal()"></p-button>
      <p-button label="Save" (click)="onEditUser()"></p-button>
    </div>
  </p-dialog>