<div class="p-fluid mx-8 w-3 gap-2">
    <h2>Checkout</h2>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="p-field">
        <label for="fullName">Full Name</label>
        <input pInputText id="fullName" formControlName="fullName" required>
      </div>
      <div class="p-field">
        <label for="phoneNumber">Phone Number</label>
        <input pInputText id="phoneNumber" formControlName="phoneNumber" required>
      </div>
      <div class="p-field">
        <label for="country">Country</label>
        <input pInputText id="country" formControlName="country" required>
      </div>
      <div class="p-field">
        <label for="city">City</label>
        <input pInputText id="city" formControlName="city" required>
      </div>
      <div class="p-field">
        <label for="street">Street</label>
        <input pInputText id="street" formControlName="street" required>
      </div>
      <div class="p-field">
        <label for="building">Building</label>
        <input pInputText id="building" formControlName="building" required>
      </div>
      <div class="p-field">
        <label for="apartment">Apartment</label>
        <input pInputText id="apartment" formControlName="apartment" required>
      </div>
      <div class="p-field">
        <label for="zipCode">Postal Code</label>
        <input pInputText id="zipCode" formControlName="zipCode" required>
      </div>
      <button class="mt-3" pButton type="submit" label="Place Order" [disabled]="checkoutForm.invalid"></button>
    </form>
  </div>