<div class="min-h-full flex justify-content-center lg:px-8 md:px-6 px-4 py-8 surface-ground overflow-y-hidden">
    <div class="surface-card p-4 shadow-2 border-round w-full h-full lg:w-4">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Create new account</div>
            <span class="text-600 font-medium line-height-3">Already have an account?</span>
            <a href="/login" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Sign in</a>
        </div>

        <div>
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <label for="email" class="block text-900 font-medium mb-2">Email</label>
                <input formControlName="email" id="email" type="email" placeholder="Email address" pInputText [autofocus]="false"
                    class="w-full mb-3" autocomplete="off" (focusin)="changeFocusFlag('email')" (focusout)="changeFocusFlag('email')" />
                <div *ngIf="focusedEmail" class="error-container">
                    <div *ngIf="email?.errors?.['required']" class="error-message">Email is required.</div>
                    <div *ngIf="email?.errors?.['email']" class="error-message">Enter valid email.</div>
                </div>
                <label for="password" class="block text-900 font-medium mb-2">Password</label>
                <p-password formControlName="password" placeholder="Create Password" [toggleMask]="true"
                    [feedback]="false" [autofocus]="false" autocomplete="off" (focusin)="changeFocusFlag('password')" (focusout)="changeFocusFlag('password')" />
                <div *ngIf="focusedPassword" class="error-container">
                    <div *ngIf="password?.errors?.['length']" class="error-message">
                        Password must be at least 8 characters.
                    </div>
                    <div *ngIf="password?.errors?.['uppercase']" class="error-message">
                        Password must contain an uppercase letter.
                    </div>
                    <div *ngIf="password?.errors?.['lowercase']" class="error-message">
                        Password must contain a lowercase letter.</div>
                    <div *ngIf="password?.errors?.['number']" class="error-message">
                        Password must contain a number.</div>
                    <div *ngIf="password?.errors?.['special']" class="error-message">
                        Password must contain a special character.
                    </div>
                </div>
                <label for="confirmPassword" class="block text-900 font-medium mb-2">Confirm Password</label>
                <p-password formControlName="confirmPassword" id="confirmPassword" placeholder="Confirm Password"
                    [feedback]="false" [toggleMask]="true" [autofocus]="false" autocomplete="off"
                    (onFocus)="changeFocusFlag('confirmPassword')" (focusout)="changeFocusFlag('confirmPassword')"/>
                <div *ngIf="focusedConfirmPassword" class="error-container">
                    <div *ngIf="confirmPassword?.errors?.['required']" class="error-message">
                        Password confirmation is required.
                    </div>
                    <div class="error-message" *ngIf="registerForm?.errors?.['noMatch']">
                        Password doesn't match.
                    </div>
                </div>

                <button pButton label="Sign Up" icon="pi pi-user" class="w-full" type="submit" [disabled]="registerForm.invalid"></button>
            </form>

        </div>
    </div>
</div>